.scrolled {
  background-color: white !important;
  border-bottom: 1px solid rgba(0, 0, 0, 0.15) !important; }

.scrolled-text {
  color: #232122 !important; }
  .scrolled-text:hover {
    color: #2e42a4 !important; }

.aui {
  background-color: #abd3e3; }
  .aui .lfr-admin-panel {
    color: #232122; }
  .aui body.dawn {
    background-color: #abd3e3;
    color: #232122;
    /* ------------ Navigation Bar ------------ */
    /* ------------ Portlet - Login ------------*/ }
    .aui body.dawn a {
      color: #232122; }
    .aui body.dawn h2.page-title {
      color: white; }
    .aui body.dawn .site-navigation-bar {
      background-color: rgba(34, 33, 33, 0); }
      .aui body.dawn .site-navigation-bar h1.site-title {
        color: #232122; }
      .aui body.dawn .site-navigation-bar .navigation-section a {
        color: #232122; }
        .aui body.dawn .site-navigation-bar .navigation-section a:hover {
          color: #2e42a4; }
    .aui body.dawn .portlet-login .navigation {
      background: white; }
      .aui body.dawn .portlet-login .navigation .taglib-text:hover {
        color: #2e42a4; }

