.scrolled {
  background-color: white !important; }

.scrolled-text {
  color: #232122 !important; }
  .scrolled-text:hover {
    color: #2e42a4 !important; }

.aui {
  background-color: white; }
  .aui .lfr-admin-panel {
    color: #232122; }
  .aui body.day {
    background-color: white;
    color: #232122;
    /* ------------ Navigation Bar ------------ */
    /* ------------ Portlet - Login ------------*/ }
    .aui body.day a {
      color: #232122; }
    .aui body.day .site-navigation-bar {
      background-color: rgba(34, 33, 33, 0); }
      .aui body.day .site-navigation-bar h1.site-title {
        color: #232122; }
      .aui body.day .site-navigation-bar .navigation-section a {
        color: #232122; }
        .aui body.day .site-navigation-bar .navigation-section a:hover {
          color: #2e42a4; }
    .aui body.day .portlet-login .navigation {
      background: white; }
      .aui body.day .portlet-login .navigation .taglib-text:hover {
        color: #2e42a4; }

