$color-dark: #232122;
$color-light: #FFF;
$color-accent: #2E42A4;
$color-accent-2: #FF4E22;

/* ------------ Scrolled Styles ------------ */
.scrolled {
    background-color: $color-light !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.15) !important;
}

.scrolled-text {
    color: $color-dark !important;

    &:hover {
        color: $color-accent !important;
    }
}

.scrolled-button {
    background-color: $color-accent-2 !important;
    border-color: $color-accent-2 !important;
    color: $color-light !important;

    &:hover {
        background-color: rgba(0, 0, 0, 0) !important;
        color: $color-accent-2 !important;
    }
}

.aui {
    background-color: $color-dark;

    .lfr-admin-panel {
        color: $color-dark;
    }

    body.night {
        background-color: $color-dark;
        color: $color-light;

        a {
            color: $color-dark;
        }

        /* ------------ Navigation Bar ------------ */
        .site-navigation-bar {
            background-color: rgba(34, 33, 33, 0);

            h1.site-title {
                color: $color-light;
            }

            .navigation-section {
                a {
                    color: $color-light;

                    &:hover {
                        color: $color-accent;
                    }
                }
            }

            .btn-login {
                background-color: $color-light;
                border-color: $color-light;
                color: $color-dark;

                &:hover {
                    color: $color-light;
                }
            }
        }

        /* ------------ Portlet - Login ------------*/
        .portlet-login {
            .navigation {
                background: $color-light;

                .taglib-text:hover {
                    color: $color-accent;
                }
            }
        }
    }
}
